doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  link(rel='stylesheet' href='../../../scss/main.css')
.orders-header
  .orders-box
    h2 &Acy;&ncy;&tcy;&ocy;&ncy; &Pcy;&acy;&vcy;&lcy;&ocy;&vcy;
    p &Zcy;&acy;&rcy;&iecy;&gcy;&icy;&scy;&tcy;&rcy;&icy;&rcy;&ocy;&vcy;&acy;&ncy;: 12.07.2020
    .orders-text
      .orders-text-ichki
        img(src='./img/stack.svg' alt='')
        p &Mcy;&ocy;&icy; &zcy;&acy;&kcy;&acy;&zcy;&ycy;
      div
        h3 4
    .orders-text-1
      .orders-text-ichki
        img(src='./img/heart.svg' alt='')
        p &Icy;&zcy;&bcy;&rcy;&acy;&ncy;&ncy;&ocy;&iecy;
      .orders-text-ichki-1
        h3 2
    .orders-text-1
      .orders-text-ichki
        img(src='./img/shopping-cart 1.svg' alt='')
        p &Kcy;&ocy;&rcy;&zcy;&icy;&ncy;&acy;
      .orders-text-ichki-1
        h3 12
    .orders-text-1
      .orders-text-ichki
        img(src='./img/carousel.svg' alt='')
        p &Pcy;&rcy;&ocy;&mcy;&ocy;&kcy;&ocy;&dcy;&ycy;
    hr.orders-hr
    .orders-text-1
      .orders-text-ichki
        img(src='./img/bell.svg' alt='')
        p &Ucy;&vcy;&iecy;&dcy;&ocy;&mcy;&lcy;&iecy;&ncy;&icy;&yacy;
      .orders-text-ichki-1
        h3 2
    hr.orders-hr
    .orders-text-1
      .orders-text-ichki
        img(src='./img/pin.svg' alt='')
        p &Mcy;&ocy;&icy; &acy;&dcy;&rcy;&iecy;&scy;&acy;
    .orders-text-1
      .orders-text-ichki
        img(src='./img/smile.svg' alt='')
        p &Mcy;&ocy;&icy; &ocy;&tcy;&zcy;&ycy;&vcy;&ycy;
    .orders-text-1
      .orders-text-ichki
        img(src='./img/smile-sad.svg' alt='')
        p &Mcy;&ocy;&icy; &zhcy;&acy;&lcy;&ocy;&bcy;&ycy;
    hr.orders-hr
    .orders-text-1
      .orders-text-ichki
        img(src='./img/lock.svg' alt='')
        p &Ncy;&acy;&scy;&tcy;&rcy;&ocy;&jcy;&kcy;&icy; &icy; &bcy;&iecy;&zcy;&ocy;&pcy;&acy;&scy;&ncy;&ocy;&scy;&tcy;&softcy;
    .orders-text-1
      .orders-text-ichki
        img(src='./img/mail-reply.svg' alt='')
        p &Vcy;&ycy;&jcy;&tcy;&icy;