<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../../scss/main.css">
</head>
<body>
    <div>
        <div class="login">
            <img src="./img/Group 45.svg" alt="">
            <h1>Добро пожаловать!</h1>
            <p>Вход в ваш аккаунт</p>
            <div>
                <div class="login-input" id="phone1">
                    <p>Номер телефона</p>
                    <input type="text" id="phone" value="+998">
                </div>
                <input id="password" class="login-input-1" placeholder="Пароль" type="password">
            </div>
            <button onclick="click12()" class="login-button">Войти</button>
            <p>Забыли пароль?</p>
            <hr>
            <button class="login-button-1">Зарегистрироваться</button>
        </div>
    </div>
    <script src="../../js/login.js"></script>
</body>
</html>